.list-user-name:hover {
  cursor: pointer;
}

.list-user-name:hover > .col-user-name {
  text-decoration: underline;
}

.header-table-list {
  position: sticky;
  top: -1px;
  z-index: 99;
}
.container-table {
  height: calc(100vh - 260px);
  overflow: auto;
}

.select-sort-list {
  width: 200px;
}
.input-search-list {
  width: 300px;
  height: 38px;
}
.container-sorting {
  gap: 15px;
}
@media only screen and (max-width: 629px) {
  .container-sorting {
    flex-direction: column;
    align-items: center;
  }
  .container-table {
    height: calc(100vh - 313px);
  }
  .container-select-sort {
    width: 100%;
    justify-content: flex-end;
  }
  .select-sort-list {
    width: calc(100% - 100px);
  }
  .input-search-list {
    width: 100%;
  }
}
