.list-user-name:hover {
    cursor: pointer;
}

.list-user-name:hover > .col-user-name {
    text-decoration: underline;
}

.header-table-list {
    position: sticky;
    top: 56px;
    z-index: 99;
}