.list-user-name:hover {
    cursor: pointer;
}

.list-user-name:hover > .col-user-name {
    text-decoration: underline;
}

.header-table-list {
    position: sticky;
    top: -1px;
    z-index: 99;
}
.container-table{
    height: calc(100vh - 500px);
    overflow: auto;
}